In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Analysing Enrollment data

In [30]:
df1 = pd.read_csv(r"/mnt/c/Rig/Pandoras BOX/Aadhar/api_data_aadhar_enrolment/api_data_aadhar_enrolment_0_500000.csv")
df2 = pd.read_csv(r"/mnt/c/Rig/Pandoras BOX/Aadhar/api_data_aadhar_enrolment/api_data_aadhar_enrolment_500000_1000000.csv")
df3 = pd.read_csv(r"/mnt/c/Rig/Pandoras BOX/Aadhar/api_data_aadhar_enrolment/api_data_aadhar_enrolment_1000000_1006029.csv")

##### Going for df1

In [31]:
df1.sample(5)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
187440,14-09-2025,West Bengal,Jalpaiguri,736204,2,1,0
403489,17-10-2025,Bihar,Sitamarhi,843328,7,3,0
437896,19-10-2025,Madhya Pradesh,Satna,485113,1,2,0
241078,18-09-2025,Karnataka,Kolar,563113,1,0,0
312758,24-09-2025,Uttar Pradesh,Bulandshahr,202392,1,2,0

In [32]:
df1.describe()

             pincode        age_0_5       age_5_17  age_18_greater
count  500000.000000  500000.000000  500000.000000   500000.000000
mean   519204.051054       4.040812       2.315682        0.245558
std    206793.322085      24.417921      20.191196        4.438557
min    100000.000000       0.000000       0.000000        0.000000
25%    362229.000000       1.000000       0.000000        0.000000
50%    517131.000000       2.000000       0.000000        0.000000
75%    712139.000000       3.000000       1.000000        0.000000
max    855456.000000    2688.000000    1812.000000      855.000000

In [33]:
df1.isnull().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [6]:
df1["state"].value_counts()

state
Uttar Pradesh                                   57240
Tamil Nadu                                      45087
West Bengal                                     39965
Maharashtra                                     38194
Karnataka                                       33626
Andhra Pradesh                                  31469
Bihar                                           30626
Rajasthan                                       28408
Madhya Pradesh                                  24323
Odisha                                          22876
Gujarat                                         22718
Telangana                                       22238
Kerala                                          17632
Assam                                           15817
Jharkhand                                       11496
Punjab                                          10499
Chhattisgarh                                     8712
Haryana                                          7529
Jammu and Kashmir                                5311
Uttarakhand                                      4849
Himachal Pradesh                                 4559
Delhi                                            3408
Meghalaya                                        2175
Orissa                                           1786
Tripura                                          1728
Manipur                                          1592
Nagaland                                         1175
Arunachal Pradesh                                 845
Mizoram                                           779
Goa                                               764
Sikkim                                            592
Puducherry                                        496
Pondicherry                                       402
Chandigarh                                        389
Andaman and Nicobar Islands                       133
Ladakh                                            126
Dadra and Nagar Haveli                             89
Lakshadweep                                        73
Jammu & Kashmir                                    63
Dadra and Nagar Haveli and Daman and Diu           61
Andaman & Nicobar Islands                          53
Daman and Diu                                      35
Dadra & Nagar Haveli                               13
West  Bengal                                       12
Daman & Diu                                        10
100000                                              9
West Bangal                                         5
Westbengal                                          3
Jammu And Kashmir                                   2
The Dadra And Nagar Haveli And Daman And Diu        2
andhra pradesh                                      2
West bengal                                         2
WEST BENGAL                                         1
ODISHA                                              1
Name: count, dtype: int64

In [ ]:
df2["state"].value_counts()

In [ ]:
df3["state"].value_counts()

In [ ]:
# rectification needed in state names:
# West Bengal, Daman and Diu, Odisha, Andaman and Nicobar islands, Andhra Pradesh.... and many misspellings
# there are unknown state names also (in the name of 10000)

In [35]:
df1['state'].nunique()
#df2['state'].nunique()
#df3['state'].nunique()

54

In [36]:
def process(df):   #pass dataframe
    df["state"] = df["state"].str.upper()
    df['state'] = df['state'].replace(r'\s+', ' ', regex=True)
    return df

In [37]:
df_combined = pd.concat([df1, df2, df3], axis=0, ignore_index=True, verify_integrity=True)

In [38]:
df_combined

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21
...,...,...,...,...,...,...,...
1006024,31-12-2025,West Bengal,West Midnapore,721149,2,0,0
1006025,31-12-2025,West Bengal,West Midnapore,721150,2,2,0
1006026,31-12-2025,West Bengal,West Midnapore,721305,0,1,0
1006027,31-12-2025,West Bengal,West Midnapore,721504,1,0,0
1006028,31-12-2025,West Bengal,West Midnapore,721517,2,1,0

In [39]:
df_combined["state"].nunique()

55

In [49]:
df_process = process(df_combined)

In [50]:
df_process["state"].value_counts()

state
UTTAR PRADESH                                   110369
TAMIL NADU                                       92552
MAHARASHTRA                                      77191
WEST BENGAL                                      76545
KARNATAKA                                        70198
ANDHRA PRADESH                                   65663
BIHAR                                            60567
RAJASTHAN                                        56159
MADHYA PRADESH                                   50225
GUJARAT                                          46624
ODISHA                                           43692
TELANGANA                                        42774
KERALA                                           39145
ASSAM                                            31827
JHARKHAND                                        23218
PUNJAB                                           20439
CHHATTISGARH                                     18550
HARYANA                                          15997
JAMMU AND KASHMIR                                11316
HIMACHAL PRADESH                                 10346
UTTARAKHAND                                      10007
DELHI                                             6804
MEGHALAYA                                         3771
TRIPURA                                           3729
ORISSA                                            3319
MANIPUR                                           3218
NAGALAND                                          1999
ARUNACHAL PRADESH                                 1601
GOA                                               1527
MIZORAM                                           1481
PUDUCHERRY                                        1042
SIKKIM                                            1010
CHANDIGARH                                         859
PONDICHERRY                                        817
LADAKH                                             304
ANDAMAN AND NICOBAR ISLANDS                        289
DADRA AND NAGAR HAVELI                             162
LAKSHADWEEP                                        159
JAMMU & KASHMIR                                    139
DADRA AND NAGAR HAVELI AND DAMAN AND DIU           116
ANDAMAN & NICOBAR ISLANDS                          103
DAMAN AND DIU                                       92
DADRA & NAGAR HAVELI                                24
100000                                              22
DAMAN & DIU                                         20
WEST BANGAL                                          9
WESTBENGAL                                           7
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU         2
Name: count, dtype: int64

In [51]:
df_process["state"].nunique()

48

In [ ]:
state_mapping = {
    # Misspellings & Variations
    "West Bangal": "West Bengal",
    "Westbengal": "West Bengal",
    "Andhra Pradesh": "Andhra Pradesh", # Fixing potential lowercase issues
    "Jammu & Kashmir": "Jammu and Kashmir",
    "Dadra & Nagar Haveli": "Dadra and Nagar Haveli",
    
    # Name Updates/Standardization
    "Orissa": "Odisha",
    "Pondicherry": "Puducherry",
    
    # Merged Union Territory (Standardizing the long name)
    "The Dadra And Nagar Haveli And Daman And Diu": "Dadra and Nagar Haveli and Daman and Diu",
    "Daman And Diu": "Dadra and Nagar Haveli and Daman and Diu",
    "Dadra And Nagar Haveli": "Dadra and Nagar Haveli and Daman and Diu"
}

In [57]:
state_mapping = {
    # Misspellings
    "WESTBENGAL" : "WEST BENGAL",
    "WEST BANGAL" : "WEST BENGAL",
    "JAMMU & KASHMIR": "JAMMU AND KASHMIR",
    "ANDAMAN & NICOBAR ISLANDS" : "ANDAMAN AND NICOBAR ISLANDS",

    # Name updates
    "ORISSA": "ODISHA",
    "PONDICHERRY": "PUDUCHERRY",
    
    "THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU" : "DADRA AND NAGAR HAVELI AND DAMAN AND DIU",
    "DAMAN AND DIU" : "DADRA AND NAGAR HAVELI AND DAMAN AND DIU",
    "DAMAN & DIU" : "DADRA AND NAGAR HAVELI AND DAMAN AND DIU",
    "DADRA AND NAGAR HAVELI" : "DADRA AND NAGAR HAVELI AND DAMAN AND DIU",
    "DADRA & NAGAR HAVELI" : "DADRA AND NAGAR HAVELI AND DAMAN AND DIU",

    # The unnamed states
    "100000" : "UNKNOWN"
}

In [58]:
df_process["state"] = df_process["state"].replace(state_mapping)

In [61]:
df_process["state"].nunique()   # Should be equal to 28(states) + 8(UT) +1(unknown)

37