In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Analysing Enrollment data

In [93]:
df1 = pd.read_csv(r"/mnt/c/Rig/Pandoras BOX/Aadhar/api_data_aadhar_enrolment/api_data_aadhar_enrolment_0_500000.csv")
df2 = pd.read_csv(r"/mnt/c/Rig/Pandoras BOX/Aadhar/api_data_aadhar_enrolment/api_data_aadhar_enrolment_500000_1000000.csv")
df3 = pd.read_csv(r"/mnt/c/Rig/Pandoras BOX/Aadhar/api_data_aadhar_enrolment/api_data_aadhar_enrolment_1000000_1006029.csv")

##### Going for df1

In [94]:
df1.sample(5)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
265509,20-09-2025,West Bengal,Nadia,741152,8,2,0
369125,13-10-2025,West Bengal,North Dinajpur,733128,1,0,0
411992,17-10-2025,Karnataka,Kalaburagi,585308,1,0,0
208871,16-09-2025,Bihar,Begusarai,851116,1,0,0
214472,16-09-2025,West Bengal,Howrah,711307,1,1,0

In [95]:
df1.describe()

             pincode        age_0_5       age_5_17  age_18_greater
count  500000.000000  500000.000000  500000.000000   500000.000000
mean   519204.051054       4.040812       2.315682        0.245558
std    206793.322085      24.417921      20.191196        4.438557
min    100000.000000       0.000000       0.000000        0.000000
25%    362229.000000       1.000000       0.000000        0.000000
50%    517131.000000       2.000000       0.000000        0.000000
75%    712139.000000       3.000000       1.000000        0.000000
max    855456.000000    2688.000000    1812.000000      855.000000

In [96]:
df1.isnull().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [97]:
df1["state"].value_counts()

state
Uttar Pradesh                                   57240
Tamil Nadu                                      45087
West Bengal                                     39965
Maharashtra                                     38194
Karnataka                                       33626
Andhra Pradesh                                  31469
Bihar                                           30626
Rajasthan                                       28408
Madhya Pradesh                                  24323
Odisha                                          22876
Gujarat                                         22718
Telangana                                       22238
Kerala                                          17632
Assam                                           15817
Jharkhand                                       11496
Punjab                                          10499
Chhattisgarh                                     8712
Haryana                                          7529
Jammu and Kashmir                                5311
Uttarakhand                                      4849
Himachal Pradesh                                 4559
Delhi                                            3408
Meghalaya                                        2175
Orissa                                           1786
Tripura                                          1728
Manipur                                          1592
Nagaland                                         1175
Arunachal Pradesh                                 845
Mizoram                                           779
Goa                                               764
Sikkim                                            592
Puducherry                                        496
Pondicherry                                       402
Chandigarh                                        389
Andaman and Nicobar Islands                       133
Ladakh                                            126
Dadra and Nagar Haveli                             89
Lakshadweep                                        73
Jammu & Kashmir                                    63
Dadra and Nagar Haveli and Daman and Diu           61
Andaman & Nicobar Islands                          53
Daman and Diu                                      35
Dadra & Nagar Haveli                               13
West  Bengal                                       12
Daman & Diu                                        10
100000                                              9
West Bangal                                         5
Westbengal                                          3
Jammu And Kashmir                                   2
The Dadra And Nagar Haveli And Daman And Diu        2
andhra pradesh                                      2
West bengal                                         2
WEST BENGAL                                         1
ODISHA                                              1
Name: count, dtype: int64

In [98]:
df2["state"].value_counts()

state
Uttar Pradesh                               52416
Tamil Nadu                                  46795
Maharashtra                                 38454
Karnataka                                   36135
West Bengal                                 36020
Andhra Pradesh                              33949
Bihar                                       29766
Rajasthan                                   27339
Madhya Pradesh                              25533
Gujarat                                     23717
Kerala                                      21133
Odisha                                      20512
Telangana                                   20248
Assam                                       15893
Jharkhand                                   11628
Punjab                                       9848
Chhattisgarh                                 9762
Haryana                                      8412
Jammu and Kashmir                            5966
Himachal Pradesh                             5742
Uttarakhand                                  5088
Delhi                                        3382
Tripura                                      1968
Manipur                                      1600
Meghalaya                                    1571
Orissa                                       1505
Nagaland                                      813
Goa                                           755
Arunachal Pradesh                             748
Mizoram                                       695
Puducherry                                    535
Chandigarh                                    468
Sikkim                                        413
Pondicherry                                   412
Ladakh                                        174
Andaman and Nicobar Islands                   156
Lakshadweep                                    83
Jammu & Kashmir                                76
Dadra and Nagar Haveli                         73
Daman and Diu                                  56
Dadra and Nagar Haveli and Daman and Diu       55
Andaman & Nicobar Islands                      50
100000                                         13
Dadra & Nagar Haveli                           11
Daman & Diu                                    10
West bengal                                     5
West Bangal                                     4
andhra pradesh                                  3
West  Bengal                                    3
Westbengal                                      3
WEST BENGAL                                     3
WESTBENGAL                                      1
Name: count, dtype: int64

In [ ]:
df3["state"].value_counts()

In [11]:
# rectification needed in state names:
# West Bengal, Daman and Diu, Odisha, Andaman and Nicobar islands, Andhra Pradesh.... and many misspellings
# there are unknown state names also (in the name of 10000)

In [30]:
df1['state'].nunique()
#df2['state'].nunique()
#df3['state'].nunique()

54

In [99]:
def process(df):   #pass dataframe
    df["state"] = df["state"].str.upper()
    df['state'] = df['state'].replace(r'\s+', ' ', regex=True)
    return df

In [100]:
df_combined = pd.concat([df1, df2, df3], axis=0, ignore_index=True, verify_integrity=True)

In [101]:
df_combined

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21
...,...,...,...,...,...,...,...
1006024,31-12-2025,West Bengal,West Midnapore,721149,2,0,0
1006025,31-12-2025,West Bengal,West Midnapore,721150,2,2,0
1006026,31-12-2025,West Bengal,West Midnapore,721305,0,1,0
1006027,31-12-2025,West Bengal,West Midnapore,721504,1,0,0
1006028,31-12-2025,West Bengal,West Midnapore,721517,2,1,0

In [34]:
df_combined["state"].nunique()

55

In [102]:
df_process = process(df_combined)

In [103]:
df_process["state"].value_counts()

state
UTTAR PRADESH                                   110369
TAMIL NADU                                       92552
MAHARASHTRA                                      77191
WEST BENGAL                                      76545
KARNATAKA                                        70198
ANDHRA PRADESH                                   65663
BIHAR                                            60567
RAJASTHAN                                        56159
MADHYA PRADESH                                   50225
GUJARAT                                          46624
ODISHA                                           43692
TELANGANA                                        42774
KERALA                                           39145
ASSAM                                            31827
JHARKHAND                                        23218
PUNJAB                                           20439
CHHATTISGARH                                     18550
HARYANA                                          15997
JAMMU AND KASHMIR                                11316
HIMACHAL PRADESH                                 10346
UTTARAKHAND                                      10007
DELHI                                             6804
MEGHALAYA                                         3771
TRIPURA                                           3729
ORISSA                                            3319
MANIPUR                                           3218
NAGALAND                                          1999
ARUNACHAL PRADESH                                 1601
GOA                                               1527
MIZORAM                                           1481
PUDUCHERRY                                        1042
SIKKIM                                            1010
CHANDIGARH                                         859
PONDICHERRY                                        817
LADAKH                                             304
ANDAMAN AND NICOBAR ISLANDS                        289
DADRA AND NAGAR HAVELI                             162
LAKSHADWEEP                                        159
JAMMU & KASHMIR                                    139
DADRA AND NAGAR HAVELI AND DAMAN AND DIU           116
ANDAMAN & NICOBAR ISLANDS                          103
DAMAN AND DIU                                       92
DADRA & NAGAR HAVELI                                24
100000                                              22
DAMAN & DIU                                         20
WEST BANGAL                                          9
WESTBENGAL                                           7
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU         2
Name: count, dtype: int64

In [37]:
df_process["state"].nunique()

48

In [104]:
state_mapping = {
    # Misspellings
    "WESTBENGAL" : "WEST BENGAL",
    "WEST BANGAL" : "WEST BENGAL",
    "JAMMU & KASHMIR": "JAMMU AND KASHMIR",
    "ANDAMAN & NICOBAR ISLANDS" : "ANDAMAN AND NICOBAR ISLANDS",

    # Name updates
    "ORISSA": "ODISHA",
    "PONDICHERRY": "PUDUCHERRY",
    
    "THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU" : "DADRA AND NAGAR HAVELI AND DAMAN AND DIU",
    "DAMAN AND DIU" : "DADRA AND NAGAR HAVELI AND DAMAN AND DIU",
    "DAMAN & DIU" : "DADRA AND NAGAR HAVELI AND DAMAN AND DIU",
    "DADRA AND NAGAR HAVELI" : "DADRA AND NAGAR HAVELI AND DAMAN AND DIU",
    "DADRA & NAGAR HAVELI" : "DADRA AND NAGAR HAVELI AND DAMAN AND DIU",

    # The unnamed states
    "100000" : "UNKNOWN"
}

In [105]:
df_process["state"] = df_process["state"].replace(state_mapping)

In [106]:
df_process["state"].nunique()   # Should be equal to 28(states) + 8(UT) +1(unknown)

37

In [107]:
df_total = df_process.copy()
df = df_process.copy()
df.sample(5)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
960348,27-12-2025,JHARKHAND,Koderma,825109,3,2,0
283107,22-09-2025,ODISHA,Kendrapara,754220,1,0,0
327849,25-09-2025,JHARKHAND,Hazaribagh,825402,2,1,0
495389,26-10-2025,UTTAR PRADESH,Mathura,281004,0,1,0
271641,20-09-2025,WEST BENGAL,Bankura,722175,0,1,0

In [108]:
print(df["date"].min())
print(df["date"].max())

01-04-2025
31-12-2025

We have registrations from 1st April 2025(Financial Year start) to 31st Dec 2025(Normal year end)

In [109]:
df_total["Total Registrations"] = df["age_0_5"] + df["age_5_17"] + df["age_18_greater"]
df_total.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,Total Registrations
0,02-03-2025,MEGHALAYA,East Khasi Hills,793121,11,61,37,109
1,09-03-2025,KARNATAKA,Bengaluru Urban,560043,14,33,39,86
2,09-03-2025,UTTAR PRADESH,Kanpur Nagar,208001,29,82,12,123
3,09-03-2025,UTTAR PRADESH,Aligarh,202133,62,29,15,106
4,09-03-2025,KARNATAKA,Bengaluru Urban,560016,14,16,21,51

There is an ambiguity in the data. We have columns age0_5 and age5_17. Do the members of age 5 overlap? is this inclusive, exclusive? We have no way to understand.

In [44]:
df_total.groupby('state')['Total Registrations'].agg(['mean', 'median', 'std', 'max'])

                                               mean  median         std   max
state
ANDAMAN AND NICOBAR ISLANDS                1.303571     1.0    0.765087    11
ANDHRA PRADESH                             1.944565     1.0    3.216660   332
ARUNACHAL PRADESH                          2.713304     1.0   10.618245   401
ASSAM                                      7.232758     2.0   33.056000  1389
BIHAR                                     10.064639     5.0   44.395342  1871
CHANDIGARH                                 3.169965     2.0    4.818039   117
CHHATTISGARH                               5.564367     3.0   21.487245  1476
DADRA AND NAGAR HAVELI AND DAMAN AND DIU   4.324519     1.0   25.962493   467
DELHI                                     13.893151     5.0   76.685662  2874
GOA                                        1.527832     1.0    1.433216    42
GUJARAT                                    6.017266     2.0   34.269455  1703
HARYANA                                    6.141902     3.0   35.548601  1906
HIMACHAL PRADESH                           1.690122     1.0    1.678814   114
JAMMU AND KASHMIR                          4.285989     2.0    8.756325   538
JHARKHAND                                  6.785210     3.0   25.087145  2028
KARNATAKA                                  3.180076     2.0   14.206077   804
KERALA                                     1.916005     1.0    2.518123   266
LADAKH                                     2.029605     1.0    1.691303    13
LAKSHADWEEP                                1.276730     1.0    0.604958     5
MADHYA PRADESH                             9.835142     5.0   42.114325  2855
MAHARASHTRA                                4.782151     2.0   30.211571  3835
MANIPUR                                    4.181479     2.0   32.827637  1626
MEGHALAYA                                 29.109255     3.0  133.486145  3027
MIZORAM                                    4.001350     2.0   18.283836   368
NAGALAND                                   7.797399     2.0   41.489045   783
ODISHA                                     2.616132     2.0    3.654543   442
PUDUCHERRY                                 1.622916     1.0    1.188993    15
PUNJAB                                     3.754880     2.0   25.013291  1717
RAJASTHAN                                  6.204847     3.0   28.254600  1795
SIKKIM                                     2.185149     1.0   10.630956   260
TAMIL NADU                                 2.385567     2.0    3.475415   351
TELANGANA                                  3.076027     2.0   13.370577  1257
TRIPURA                                    3.026281     2.0    7.896926   325
UNKNOWN                                    9.909091     2.5   33.791953   161
UTTAR PRADESH                              9.229304     4.0   55.453573  3965
UTTARAKHAND                                3.767163     2.0   21.725063  1631
WEST BENGAL                                4.902496     2.0   22.535490  2727

In [110]:
df_total.groupby('date')['Total Registrations'].agg(['mean', 'median', 'std', 'max']).head(60)

                  mean  median         std   max
date
01-04-2025  303.940968   211.0  282.930262  3027
01-05-2025  334.455373   229.0  313.560615  2545
01-06-2025  370.676976   293.0  300.755930  1926
01-07-2025  521.003378   396.5  471.294693  3965
01-09-2025    4.695323     3.0    6.125516   111
01-11-2025    2.088579     1.0    2.201121    51
02-03-2025  109.000000   109.0         NaN   109
02-09-2025    4.896684     3.0    6.577276   140
02-11-2025    5.534900     3.0    7.984754   186
03-09-2025    4.695890     2.0    6.319438   172
03-11-2025    2.649525     2.0    2.944774   107
04-09-2025    4.488872     2.0    5.952675   105
04-11-2025    1.095756     1.0    0.339122     3
05-09-2025    3.286975     2.0    4.659921   135
05-11-2025    4.801080     2.0    7.042811   124
06-09-2025    4.291215     2.0    5.850828   160
06-11-2025    3.377635     2.0    4.297244    69
07-09-2025    3.292453     2.0    4.933738    66
07-11-2025    3.169837     2.0    3.585784    72
08-09-2025    4.970957     3.0    6.415156   110
08-11-2025    3.779469     2.0    4.719984    74
09-03-2025  106.375000    91.5   58.902736   290
09-09-2025    5.271785     3.0    6.928155   114
09-11-2025    3.497425     2.0    4.243501    71
10-09-2025    5.103523     3.0    6.805602   132
10-11-2025    4.379536     2.0    6.023926   129
11-09-2025    4.589718     2.0    5.815367    77
11-11-2025    3.166475     2.0    3.556597    58
12-09-2025    4.896008     3.0    6.304264    95
12-11-2025    3.223690     2.0    4.125175   147
13-09-2025    4.135093     2.0    5.348162    96
13-10-2025    4.581303     2.0    6.220167   113
13-11-2025    2.759122     2.0    3.244595    93
14-09-2025    3.240380     2.0    4.338656    51
14-11-2025    3.356915     2.0    3.905897    62
15-03-2025  110.785714    81.5   59.176670   253
15-09-2025    3.715023     2.0    4.539185    81
15-10-2025    3.906022     2.0    5.083568    91
15-11-2025    6.446801     3.0    9.300967   148
15-12-2025    7.157830     3.0   10.359122   161
16-09-2025    4.258955     2.0    5.381415    81
16-10-2025    2.952967     2.0    3.488055    63
16-11-2025    3.662503     2.0    4.503357    79
17-09-2025    4.094501     2.0    5.443457    96
17-10-2025    6.310985     3.0    9.549094   209
17-11-2025    2.604633     2.0    2.819908    56
18-09-2025    4.119231     2.0    5.203545    74
18-10-2025    3.751490     2.0    4.965814   108
18-11-2025    4.241824     2.0    5.505263   115
19-09-2025    3.997561     2.0    4.894844    77
19-10-2025    3.892284     2.0    5.483321   110
19-11-2025    6.206539     3.0    9.215032   234
20-03-2025  100.290323    84.0   63.522653   361
20-09-2025    3.631463     2.0    4.430964    71
20-10-2025    2.176155     1.0    2.530663    40
21-09-2025    2.007299     1.0    2.131878    27
21-10-2025    1.638020     1.0    1.476476    22
21-12-2025    2.548601     2.0    2.732275    43
22-09-2025    3.205167     2.0    3.773977    66
22-10-2025    1.136585     1.0    0.817024    11

Making the Date columns

In [111]:
df_total[["Day","Month","Year"]] = df_total["date"].str.split('-',expand=True)
df_total

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,Total Registrations,Day,Month,Year
0,02-03-2025,MEGHALAYA,East Khasi Hills,793121,11,61,37,109,02,03,2025
1,09-03-2025,KARNATAKA,Bengaluru Urban,560043,14,33,39,86,09,03,2025
2,09-03-2025,UTTAR PRADESH,Kanpur Nagar,208001,29,82,12,123,09,03,2025
3,09-03-2025,UTTAR PRADESH,Aligarh,202133,62,29,15,106,09,03,2025
4,09-03-2025,KARNATAKA,Bengaluru Urban,560016,14,16,21,51,09,03,2025
...,...,...,...,...,...,...,...,...,...,...,...
1006024,31-12-2025,WEST BENGAL,West Midnapore,721149,2,0,0,2,31,12,2025
1006025,31-12-2025,WEST BENGAL,West Midnapore,721150,2,2,0,4,31,12,2025
1006026,31-12-2025,WEST BENGAL,West Midnapore,721305,0,1,0,1,31,12,2025
1006027,31-12-2025,WEST BENGAL,West Midnapore,721504,1,0,0,1,31,12,2025
1006028,31-12-2025,WEST BENGAL,West Midnapore,721517,2,1,0,3,31,12,2025

In [112]:
df_final = df_total.drop(columns=["date", "Year"])
df_final

,state,district,pincode,age_0_5,age_5_17,age_18_greater,Total Registrations,Day,Month
0,MEGHALAYA,East Khasi Hills,793121,11,61,37,109,02,03
1,KARNATAKA,Bengaluru Urban,560043,14,33,39,86,09,03
2,UTTAR PRADESH,Kanpur Nagar,208001,29,82,12,123,09,03
3,UTTAR PRADESH,Aligarh,202133,62,29,15,106,09,03
4,KARNATAKA,Bengaluru Urban,560016,14,16,21,51,09,03
...,...,...,...,...,...,...,...,...,...
1006024,WEST BENGAL,West Midnapore,721149,2,0,0,2,31,12
1006025,WEST BENGAL,West Midnapore,721150,2,2,0,4,31,12
1006026,WEST BENGAL,West Midnapore,721305,0,1,0,1,31,12
1006027,WEST BENGAL,West Midnapore,721504,1,0,0,1,31,12
1006028,WEST BENGAL,West Midnapore,721517,2,1,0,3,31,12

In [91]:
df_final.to_csv("Refined enrollment.csv",index=False)